body {
    background-color: #6b8dce;
    font-family: arial;
}
h1, h2, h3 {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
#caixa_formulario {
    background-color: #86b1ff;
    margin: auto;
    width: 300px;
}
#caixa_formulario label {
    display: block;
    margin: 0 0 10px 0;
}
table {
    margin: auto;
}
input {
    background-color: #86b1ff;
    border: 1px solid #000000;
    border-radius: 8px;
}
button {
    background-color: #493268;
    color: #ffffff;
    font-weight: bold;
}
