<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Tacologia</title>
    <link rel="stylesheet" href="estilo.css" type="text/css">
</head>

<body>
    <div id="menu">
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>
        <a href="/tecnologia">Tecnologia</a>
        <a href="/tacologia">Tacologia</a>
        <a href="/formularios">Formularios</a>
    </div>
    <article>
        <header>
            <h1>Estudo dos tacos</h1>
        </header>
        <section>
            <header>
                <div>
                    <p>
                        Se você gosta de comida mexicana, adoraria aprender um pouco de tacologia
                        o estudo dos tacos é uma área muito abrangente para se cozinhar, você pode
                        vender em <strong>qualquer lugar do mundo</strong>, alegando que é o melhor
                        taco da região.
                    </p>
                </div>
            </header>
        </section>
    </article>
</body>

</html>