<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Tecnologia da Informação</title>
    <link rel="stylesheet" href="estilo.css" type="text/css">
</head>

<body>
    <div id="menu">
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>
        <a href="/tecnologia">Tecnologia</a>
        <a href="/tacologia">Tacologia</a>
        <a href="/formularios">Formularios</a>
    </div>
    <article>
        <header>
            <h1>Informática para Internet</h1>
        </header>
        <section>
            <header>
                <div>
                    <p>
                        Esta é a área mais abrangente da TI, ou seja, além do
                        conhecimento das linguagens de programação, precisa ter
                        pelo menos uma noção de Publicidade.
                    </p>
                </div>
            </header>
        </section>
    </article>
</body>

</html>