.caixa_form {
    width: 40%;
    margin: auto;
    font-family: arial;
    font-size: 90%;
}
.caixa_form label {
    font-weight: bold;
    padding: 5px;
}
.caixa_form label::after {
    content: "*";
    color: red;
}
.caixa_form .dados_pessoais input, #UF {
    border: 1px solid rgb(0,195,255);
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-family: inherit;
    min-width: 0;
}
.caixa_form .dados_pessoais input:focus, #UF:focus {
    outline: none;
    border: 2px solid rgb(0, 80, 255);
}


#cidade_cep_grid {
    display: grid;
    grid-template-columns: 15% 30% 10% 5% 20%;
    column-gap: 5%;
}
.item1 {
    display: grid;
    grid-template-columns: 20% 80%;
}
.item2 {
    display: grid;
    grid-template-columns: 20% 30%;
}


#itens_esquerda, #itens_meio, #itens_direita {
    width: 33%;
    float: left;
}
.caixa_form input.botao{
    border: transparent;
    padding: 10px;
    border-radius: 3px;
    background-color: orange;;
    color: white;
    font-family: inherit;
}