<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="estilo.css" type="text/css">
</head>

<body>
    <div id="menu">
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>
        <a href="/tecnologia">Tecnologia</a>
        <a href="/tacologia">Tacologia</a>
        <a href="/formularios">Formularios</a>
    </div>
    <article>
        <header>
            <h1>Home Show de Bola</h1>
        </header>
        <section>
            <div>
                <img src="marvelcomics.png" alt="Marvel Comics" />
                <p>Prestem atençãããããããããããããããããããããão</p>
            </div>
        </section>
    </article>
</body>

</html>