body {
    background-color: #b2ee87;
}
#titulo {
    text-align: center;
    font-family: 'Comic Sans MS';
    font-size: 2em;
}
.subtitulo {
    font-family: arial;
    font-size: 1.3em;
    font-weight: bold;
}
p {
    font-family: arial;
    font-size: 16px;
}
#caixa_formulario {
    width: 300px;
    margin: auto;
    font-family: arial;
    font-size: 13px;
}
#caixa_formulario label {
    display: block;
    margin: 0 0 10px 0;
}
input {
    background-color: #b2ee87;
    border: 1px solid #193a8e;
    border-radius: 8px;
    color: #1c57ea;
}
button {
    background-color: orange;
    color: #505050;
    font-weight: bold;;
}
