<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Formulários</title>
    <link rel="stylesheet" href="estilo.css" type="text/css">
</head>

<body>
    <div id="menu">
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>
        <a href="/tecnologia">Tecnologia</a>
        <a href="/tacologia">Tacologia</a>
        <a href="/formularios">Formularios</a>
    </div>
    <article>
        <header>
            <h1>Cadastro</h1>
        </header>
        <section>
            <div>
                <form>
                    <label>Nome</label>
                    <input type="text" size="20" maxlength="50" /><br />
                    <label>Email</label>
                    <input type="text" size="20" maxlength="40" /><br />
                    <label>Endereço</label>
                    <input type="text" size="20" maxlength="50" /><br />
                    <label>Bairro</label>
                    <input type="text" size="20" maxlength="30" /><br />
                    <label>Cidade</label>
                    <input type="text" size="20" maxlength="30" /><br />
                    <label>UF</label>
                    <input type="text" size="2" maxlength="2" /><br />
                    <label>CEP</label>
                    <input type="text" size="10" maxlength="8" /><br />
                    <input type="button" value="Enviar" />&nbsp;&nbsp;
                    <input type="reset" value="Apagar">
                </form>
            </div>
        </section>
    </article>
</body>

</html>