<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Alterar CPF</title>
        <link rel="stylesheet" href="css/estilo.css" type="text/css" />
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/tecnologia">Tecnologia</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/alterar_registro">Alterar registro</a>
            <a href="/alterar_cpf">Alterar CPF</a>
            <a href="/lista_clientes">Lista</a>
        </nav>
        <main>
            <article>
                <header>
                    <h1 id="titulo">Alterar CPF</h1>
                </header>
                <section>
                    <div id="caixa_formulario">
                        <form action="/alterar_cpf" method="post">
                            <label for="email">Digite seu email:</label>
                            <input type="email" id="email" name="email" required />

                            <label for="cpf">Digite seu novo CPF:</label>
                            <input type="number" id="cpf" name="cpf" required />

                            <button type="submit">Alterar</button>
                        </form>
                        <a href="/lista_clientes">Mostrar registros</a>
                    </div>
                </section>
            </article>
        </main>
    </body>
</html>
