<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Tecnologia</title>
        <link rel="stylesheet" type="text/css" href="css/estilo.css" />
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/tecnologia">Tecnologia</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/alterar_registro">Alterar registro</a>
            <a href="/alterar_cpf">Alterar CPF</a>
            <a href="/lista_clientes">Lista</a>
        </nav>
        <main>
            <article>
                <header>
                    <h1 id="titulo">Tecnologia da Informação</h1>
                </header>
                <section>
                    <p>Esta é a melhor área para o mercado atualmente. Se liga neste site denominado <a href="http://w3schools.com">W3schools</a>. To ligado que você não vai se arrepender.</p>
                </section>
            </article>
        </main>
    </body>
</html>
